DEBUG='debug_value_must_be_int'
SECRET_KEY='your_django_secret_key'
ALLOWED_HOSTS=
DB_ENGINE='django.db.backends.postgresql_psycopg2'
DB_NAME='db_name'
DB_USER='db_user'
DB_PASSWORD='db_password'
DB_HOST='db_host'
DB_PORT='db_port'
ESKIZ_EMAIL='your_eskiz_email'
ESKIZ_PASSWORD='your_eskiz_password'